body {margin:0;padding:0;font-family: Verdana, "Lucida Grande", Arial, Helvetica, sans-serif}

A img,
A:link img  {text-decoration:none}
A:visited img  {text-decoration:none}
A:active img  {text-decoration:none}
A:hover img {text-decoration:none}

A,
A:link,
A:visited,	
A:active	 { color: #369;text-decoration:none !important}
A:hover	 { color: #C30;text-decoration:none !important}

#aboutlinks {
		float:right;	  
		margin:10px 10px 0 0;              
		color:#336
		}

/* CORANTE.COM CSS */

.sidetitle {
		color:#333;
		font-weight:bold;
  		margin:6px 0 3px 0;	
              line-height:110%;
              font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
text-transform: uppercase 
}

.sidetitle a,
.sidetitle a:link,
.sidetitle a:visited,
.sidetitle a:active {color:#222;text-decoration:none;border-bottom:none}
.sidetitle a:hover {color:#C30;text-decoration:none;border-bottom:none}

.rside {
		color:#444;		
		padding: 0 5px 6px 0px;		
              font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
}

#tools {
	margin-top:3px;
	padding: 0 5px;
	border-top:1px solid #444;
	border-left:1px solid #444;
	border-bottom:1px solid #444;
	background:#ccc
}

#tabletext {
              padding:.5em 0 .1em 0;
		color:#333;
              height:20px;
              text-align:center;
border-bottom:1px solid #999
}

.tablead {
margin:3px 0;
padding:15px 0 4px;
border: 1px solid #ccc;
border-right: none;
}

.sidetitle {
font-size:13px;
		color:#333;
		font-weight:bold;
  		margin:6px 0 3px 0;	
              line-height:110%;
              font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
text-transform: uppercase 
}

.sidetitle a,
.sidetitle a:link,
.sidetitle a:visited,
.sidetitle a:active {color:#222;text-decoration:none;border-bottom:none}
.sidetitle a:hover {color:#C30;text-decoration:none;border-bottom:none}

.search {
		color:#333;
		font-weight:bold;
  		padding-top:3px 0 6px 7px;
  		text-transform:uppercase;	
              line-height:2em
}	

#search { 
color:#036;
margin:7px 0;
border-bottom:1px solid #999
}

#email { 
padding-top:8px;
color:#036
}

#tools {
	margin-top:3px;
	padding: 0 5px;
	border-top:1px solid #444;
	border-left:1px solid #444;
	border-bottom:1px solid #444;
	background:#ccc
}

       .tablead {
              margin: 3px 0;
              padding: 0 9px 5px;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              border-left: 1px solid #ccc;
              text-align:center;
              background:url(http://www.corante.com/frontpage/pin.gif);
}

/* END CORANTE.COM CSS */



/* FONT SIZES */

#pages, 
#subscribe, 
.search, 
.tracked,
input,
option,
select { font-size: 9px }

#aboutlinks,
#corante, 
.bulletin,
.bulletin-title, 
.more,
.side,
.trackbacks, 
.trackback_title { font-size:10px }

#footer,
#links input, 
#rlinks,
.sitenav,
.blinks, 
.blogbody,
.comments, 
.date,
.index, 
.titlecomments,
enter { font-size:11px }

.blinks h3 { font-size:12px }

dt,
.side h5, 
.nextprevious, 
h4 { font-size:13px }

h3 { font-size:15px }

/* DO NOT CHANGE THE FOLLOWING FONT-SIZES */

enter,
input,  
option,
select { font-size:9px !important }

#links input,
#navbar,
#tools { font-size:11px !important }


/* FONT FACES */

#aboutlinks, 
.author, 
.blinks, 
dt, 

#rlinks, 
#footer { font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif }

h1, h2, h3, h4, h5 { font-family: Arial,"Lucida Grande", Verdana, Helvetica, sans-serif }

h1 {margin:0;padding:23px 0 0 10px}

.sitenav {
padding-left:15px;
color:#336;
border-top:3px solid #036;
background:#eee
}

li {list-style-type:square;color:#444}

input {background:#f6f6f6;font-size:12px}
textarea {background:#f6f6f6;font-size:12px}

form {display:inline;padding:0 3px 0 0}

/* NEWSBAR */

.bulletin {
margin:0 3px 0;
padding:0;
line-height:165%;
color:#333;
background:#EFF5FB;
}

.bulletin-background {
padding:0 5px 0 10px;
border:1px solid #ccc;
border-top:0;
background:#EFF5FB;
}

.bulletin-title {
margin-left:-10px;
padding:2px 5px;
background:#C30;
font-weight:bold;
color:#fff
}

/* CONTENT */

#content {
border-right:3px solid #036;
border-top:1px solid #ccc
}

#blog {
margin:-15px 0 0;
padding:0 25px;
color:#333;
line-height:120%;
letter-spacing:110%
}

h2 {
margin:19px 15px 0;
padding:0
}

h3 {
margin:0;
padding:0;
color:#DF4816;
display:inline
}

h4 {
margin:0 0 15px;
font-family:helvetica;
color:#000
}

.tuss {
margin:0 15px;
padding:0;
font-size:18px;
font-family: helvetica, arial, verdana;
color:#09F
}

.print {margin: 0 0 -10px 6px}

.author {
margin:3px 0;
color:#777;
font-size:10px
}

.authorname {color:#333;font-weight:bold}

.blogbody {margin:30px 0}

.posted {clear:both}

.img img {
margin:5px 8px 5px 0; 
padding:3px !important;
border:1px solid #ccc !important;
background: #eee !important;
float:left;
clear:both
}

.img img.right {float:right !important}

.img img.sidexside {float:none}

.img img.center {
display:block;
margin:0 auto;

text-align:center;
float:none
}

blockquote {
margin: 15px 30px;
padding: 5px 25px 0;
background:url(http://www.corante.com/img/icon/icon_quote.gif) top left no-repeat
}

.nextprevious {
margin:45px 0 35px;
text-align:right;
font-family: helvetica, arial, verdana;
color:#0C6DCE
}

.navigationarchive {
text-align:right;
font-size:11px;
padding:5px 5px 0
}

.headshot {
        margin: 8px 8px 0px 0;
        width:11.5em;
        background: #999;
        font-size: 8px;
float:left;
color:#fff;
}

.quote{margin:0 0 -3px -15px;font-size:17px;font-family:courier}
.quote2{font-size:17px;margin:0 -7px 0 0;font-family:courier;text-align:right}
.sidebox {
        margin: 6px 8px 3px 0;
        padding:6px 15px 0 22px;
        width:11.5em;
        background: #C30;
        font-size: 15px;
float:left;
font-weight:bold;
color:#fff;
font-family:georgia;
border:1px solid #F10;
}
.sideboxright {
        margin: 6px 8px 3px 0;
        padding:6px 15px 0 22px;
        width:11.5em;
        background: #C30;
        font-size: 15px;
float:right;
font-weight:bold;
color:#fff;
font-family:georgia;
border:1px solid #F10;
}

.showcase{margin:0 0 -3px -15px;font-size:19px;font-family:courier}
.quote2{font-size:17px;margin:0 -7px 0 0;font-family:courier;text-align:right}
.sidebox {
        margin: 6px 8px 3px 5px;
        padding:6px 15px 3px 22px;
        width:11.5em;
        background: #660000;
        font-size: 15px;
float:left;
font-weight:bold;
color:#fff;
font-family:georgia;
border:1px solid #F10;
}

.callout{margin:0 0 -3px -15px;font-size:17px;font-family:courier}
.quote2{font-size:17px;margin:0 -7px 0 0;font-family:courier;text-align:right}
.sidebox {
        margin: 6px 8px 3px 5px;
        padding:6px 15px 3px 22px;
        width:11.5em;
        background: #660000;
        font-size: 15px;
float:left;
font-weight:bold;
color:#fff;
font-family:georgia;
border:1px solid #F10;
}

.calloutright {
        margin: 6px 8px 3px 5px;
        padding:6px 15px 3px 22px;
        width:11.5em;
        background: #660000;
        font-size: 15px;
float:right;
font-weight:bold;
color:#fff;
font-family:georgia;
border:1px solid #F10;
}

.highlight {
margin:5px 0;	
margin-left:50px;
padding: 0 5px 12px 8px;
background:#F4F4F4;
border:1px dashed #ccc;
color:#444;
line-height:140%
}



.recommended {
margin:0 0 10px 10px;
padding: 0px 5px 5px 5px;
width:14.5em;
background: #ffffff;
font-size: 10.5px;
float:right;
color:#777;
font-family:georgia;
border:1px solid #777;
font-weight:bold
}

.recommended h5 {
text-transform:none;
font-family:georgia;
font-size: 10.5px;
margin: 0 -5px 15px;
padding: 2px 2px;
background:#eee;
border-bottom:1px solid #666666;
}


/* BLINKS */

.blink {
margin-right:2px;
font-weight:bold;
background:#D2D4DC;
border:1px solid #D2D4DC
}

.blinks h3 {
display:inline;
margin:0;
color:#444
}

.blinks blockquote {
text-indent:0 }


.blinks p {
margin:0 0 6px;
text-indent:0
}

.blinks {
margin:0 45px;
padding: 0 5px;
text-indent:-15px;
line-height:175%;
border: 1px dotted #777;
color:#555
}

p.bposted {
font-size:11px;
display:block;
margin:0;
text-align:right
}


/* SPONSORS */

.sponsorheader  {
padding-right:5px;
text-align:right
}

.sponsorbody {
margin:-3px;
padding:8px;
border:1px dashed #eee;
background:#fff
}

.sponsorbodyouter {
margin:0;
padding:0 8px 8px;
border:1px dashed #ccc;
background:url(http://www.corante.com/frontpage/abs.gif) 
}

dl {margin:20px 0}

dt {
font-weight:bold;
color:#333;
text-transform:uppercase
}

dd {margin:5px 0}

dt img {margin-bottom:-3px}

/* LEFT SIDEBAR */

.side {
width:170px;
margin:3px 0;	
padding: 0 5px 12px 8px;
background:#F4F4F4;
border:1px dashed #ccc;
border-left:8px solid #eee;
color:#444;
line-height:140%
}

.displayauthorprofile {
display:none;
position:absolute;
width:164px;
margin-left:-17px;
padding:8px 10px 6px;
border-style:none dashed solid solid;
border-color:#ccc #ccc #eee #eee;
border-width:0 1px 8px 8px;
background:#f4f4f4;
text-align:left;
line-height:140%
}
.side img {
border:1px solid #000;
display: block; 
margin:5px auto 8px
}

.side h5 {		
margin:0 -5px 6px -16px;
padding: 3px 5px;
background:#eee;
border-left:8px solid #e7e2e9;
text-transform:uppercase
}

/* RIGHT SIDEBAR */

#rlinks {color:#888}

.ad {
margin:3px 0;
padding:15px 10px 4px;
border: 1px solid #ccc;
border-right: none;
}

.ad img {
display:block;
margin:0 auto 6px
}

.ad p {margin:0 10px 8px}

#corante {
margin-top:3px;
padding: 5px 9px 15px;
border: 1px solid #ccc;
border-right: none;
background:url(http://www.corante.com/frontpage/abs.gif)
}

#globalicons img {margin:0px 15px 20px 5px}

/* COMMENTS + TRACKBACKS */

.tracked {color:#999}

.trackback_title {
color:#660000;
font-weight:bold
}

.trackbacks {
color:#0099FF;
margin:20px 0 5px;
font-weight:bold
}

.comments {margin:20px 0 0}

#commentflip {margin:0;padding:10px 5px 5px;background:#f3f3f3}
#commentflop {margin:0;padding:10px 5px 5px;background:#f9f9f9}

.commentsbody {
margin:0 0 0;
color:#C2C21A;
padding:0;
font-weight:bold
}

.commentnumber {
font-size:12px;
margin-left:0 0 -20px -20px;
color:#000;
font-family:arial;
}


/* FOOTER */


#footer  {
color:#fff;				
text-align:center;
background:#036
}

/* LINK COLORS */

.sitenav A,
.sitenav A:link,
.sitenav A:visited,	
.sitenav A:active	 {color: #336; text-decoration:underline !important}
.sitenav A:hover	 {color: #900; text-decoration:none}

.side a,
.side a:visited 
.side a:link,
.side a:active {color:#0C6DCE}
.side a:hover {color:#C30}

#rlinks a,
#rlinks a:visited 
#rlinks a:link,
#rlinks a:active {color:#0C6DCE}
#rlinks a:hover {color:#C30}

h3 a,
h3 a:link,
h3 a:visited,
h3 a:active {color:#C30 !important; text-decoration: underline !important}
h3 a:hover {color: #F59638 !important; text-decoration: underline !important}

.blogbody A,
.blogbody A:link,
.blogbody A:visited,	
.blogbody A:active	 {color:#0C6DCE}
.blogbody A:hover	 {color:#F59638}

.blink A,
.blink A:link,
.blink A:visited,	
.blink A:active	 {color:#369}
.blink A:hover	 {color:#09F !important}

.titlecomments a,
.titlecomments a:link,
.titlecomments a:visited,
.titlecomments a:active {color:#C30; text-decoration: underline;font-weight:bold;}
.titlecomments a:hover {color: #F59638; text-decoration: underline;font-weight:bold;}

.commentsbody a,
.commentsbody a:link,
.commentsbody a:visited,
.commentsbody a:active {color:#036 !important;text-decoration:underline !important}
.commentsbody a:hover {text-decoration:underline !important}

.commentnumber a,
.commentnumber a:link,
.commentnumber a:visited,
.commentnumber a:active {color:#000 !important;text-decoration:none !important}
.commentnumber a:hover {color:#C30 !important;text-decoration:none !important}

.trackbacks a,
.trackbacks a:link,
.trackbacks a:visited,
.trackbacks a:active {color:#660000 !important;text-decoration:underline !important}
.trackbacks a:hover {color:#CC6633  !important;text-decoration:underline !important}

#footer A,
#footer A:link,
#footer A:visited,	
#footer A:active	 { color: #fff}
#footer A:hover	 { color: #8698B3}